@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
  margin: 0;
  padding: 0;
  font-size: 1.4vh;
}

body{
  font-family: nunito sans;
  background-color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
}

.center{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

h1{
  font-size: 2em;
}

header {
  text-align: center;
  height: 50px;
  margin: 30px;
}

nav > .btnMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
#btnLista{
  background-color: #535151;
  color: #fff;
}
.btnMenu > button {
  flex-basis: 50%;
  flex-grow: 1;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.281);
  margin: 0 20px;
}

.ListaProduto{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 800px;
  height: 100%; /* define a altura do elemento pai */
  transform: translateX(-100%);
  /* Define a animação */
  animation: anima-da-esquerda-para-direita .5s ease-in-out forwards;
}

.ListaProduto .content {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.281);
  border-radius: 5px;
  width: 85%;
  height: 100%; /* define a altura do elemento filho */
}

#listaProdutos {
  height: 100%; /* define a altura do elemento filho */
}
#labelLista, #labelListaQnt{
  font-size: medium;
  font-weight: 700;
}

.btnAdcLista{
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  margin: 10px 0 0 0;
  box-shadow: 0px 2px 51px rgba(0, 0, 0, 0.158);
  background-color: #6FCF97;
}

.adcLista{
  border-bottom: #535151 solid 1px;
}

.adcLista > input {
  all: initial;
}

.adcLista > #inputListaQnt {
  width: 50px;
}

main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  display: none;
  transform: translateX(100%);
  /* Define a animação */
  animation: anima-da-esquerda-para-direita .5s ease-in-out forwards;
}
  
  .content {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    width: 85%;
  }
  #produtoLista {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
  }
  .btnListaAdicionaraoCarrinho, .btnExcluir {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 5px;
  }
      #produtoLista > span {
        font-size: 1.4em;
        width: 60%;
        text-align: center;
      }

    #listaProdutos{
    margin-top: 20px;
    width: 100% ;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    flex-direction: column;
  }

span > h2 {
    margin-bottom: 20px;
}
  .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #535151;
    text-align: center;
    margin-left: 3px;
    font-size: 10px;
    line-height: 20px;
  } 

table {
    
    width: 100%;
    text-align: center;    
}

th{
    padding-bottom: 20px;
}
td {
    border-bottom: 2px solid black;
    padding: 20px 10px 20px 10px;
}
img {
    padding: 5px;
    width: 15px;
}

#resultado{
    margin-top: 100px;
}
.marcado {
  text-decoration: line-through;
  color: gray;
}

  /* Tela adicionar produto */

  #adicionar-produto {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background-color: #535151  /* #535151 */ ;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: height 0.5s ease;
      box-shadow: 0px 2px 7px rgb(0, 0, 0);
      border-radius: 20px 20px 0px 0px;
  }

#adicionar-produto-texto{
    font-size: large;
    font-weight: 700;
}
#spanApt {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    color: #535151;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: 700;
}

  #adicionar-produto.aberto {
      height: 70vh;
      box-shadow: 0px 2px 15px rgb(0, 0, 0);
      border-radius: 5px 5px 0px 0px;
  }

  #adicionar-produto-topo {
      padding: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
  }

  #adicionar-produto-texto {
      margin-right: 10px;
        text-transform: capitalize;
  }

  #adicionar-produto-seta {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      margin-right: 5px;
      transition: transform 0.5s ease;
  }

  #adicionar-produto.aberto #adicionar-produto-seta {
      border-bottom: none;
      border-top: 10px solid #fff;
      margin-bottom: 5px;
      transform: rotate(1deg);

  }

  #adicionar-produto-form {
      display: none;
      width: 90%;
      max-width: 800px;
  }

  .info-produtos {
      margin: 0 auto;
      padding: 20px;
      box-shadow: 0px 1px 5px rgb(0, 0, 0);
      border-radius: 5px;
  }

  .info-produtos>.card>.title {
      text-align: center;
      margin-bottom: 10px;
  }

 .lineInput > input {
      height: 30px;
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 10px;
  }

  .info-produtos > .card > button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
  }
  .info-produtos > .card > #btn1 {
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    background-color: #6FCF97;
  }
  .info-produtos > .card > #canelar {
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    background-color: #EB5757;
  }

  #adicionar-produto-form {
    opacity: 0;
    transform: translateY(100%);
  }
  
  /* Aplica a animação ao elemento */
  #adicionar-produto-form {
    animation: animacao .5s forwards;
  }

   /* Define a animação Form */
  @keyframes animacao {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes anima-da-direita-para-esquerda {
    from {
      transform: translateX(100%); /* Define a posição inicial do elemento fora da tela, à direita */
    }
    to {
      transform: translateX(0); /* Define a posição final do elemento na tela, à esquerda */
    }
  }

  @keyframes anima-da-esquerda-para-direita {
    from {
      transform: translateX(-100%); /* Define a posição inicial do elemento fora da tela, à esquerda */
    }
    to {
      transform: translateX(0); /* Define a posição final do elemento fora da tela, à direita */
    }
  }
